.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 100%;
  text-align: center;
}

.nav-content {
  width: 100%;
}

.nav-item {
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: var(--accent-color) underline;
}

.epithet-container {
  margin-bottom: 20px;
  height: 2em;
}

#epithet-text {
  display: inline;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

#epithet-text:hover {
  text-decoration: var(--accent-color) underline;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
