@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --font-color: #222222;
  --background-color: #efefef;
  --accent-color: #5e3d8f;
}

* {
  font-family: 'Source Code Pro', monospace;
  color: var(--font-color);
}

html, body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color);
}

a:visited {
  text-decoration: none;
  color: var(--font-color);
}

p, span, ul, li, code {
  font-size: 14px;
}

code {
  background: #c9c9c9;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: .2rem;
}

.content-container {
  padding: 12px;
}
