.projects-header > h1 {
  margin: 0;
  display: inline;
}

.projects-header > p {
  margin-left: 6px;
  display: inline;
}

.projects-header {
  margin-bottom: 24px;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container > .project-decription {
  flex-basis: 75%;
}

.project-container > .project-screens {
  flex-basis: 25%;
}

.project-container > h2 {
  text-decoration: var(--accent-color) underline;
  margin: 0;
}

.contact-link {
  text-decoration: var(--accent-color) underline;
}
