body, html {
  min-height: 100%;
}

#main-content {
  padding: 24px;
}

a {
  color: #724C8E;
}

a:hover {
  color: #724C8E !important;
}

.more-info-button {
  fill: #724C8E;
  color: #724C8E;
  margin-top: 4px;
  float: right;
}

.familiar-container {
  padding: 24px;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-container > .description-text {
  flex-basis: 60%;
  flex-shrink: 0;
  padding: 24px;
  height: 100%;
}

.description-container > .description-image {
  flex-shrink: 1;
}

.description-container:not(:first-child) {
  margin-top: 24px;
}

.mobile-nav {
  display: none;
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .mobile-nav {
    display: unset;
  }

  .desktop-nav {
    display: none;
  }

  .description-container {
    display: block;
  }

  .description-container > .description-text {
    width: auto;
  }

  .description-container > .description-image {
    width: 100%;
  }
}
